body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2d2c;
}

/* #video {
  transform: scaleX(-1);
} */

canvas {
    position: absolute;
}